<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>true</EnableADPublish>
    <ADDirectoryAccessLevel>0</ADDirectoryAccessLevel>
    <ADDomain>mohanishsrivastavamastek.onmicrosoft.com</ADDomain>
    <ADUsesOwinOrOpenIdConnect>true</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://aadauthpoc20180515052306.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>aadauthpoc20180515052306.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AADAuthPoC20180515052306</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AADAuthPoC20180515052306</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADAppIDUri>https://mohanishsrivastavamastek.onmicrosoft.com/WebApp-aadauthpoc20180515052306.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADClientAPPID>7286a955-df87-4408-b695-84866908ef65</ADClientAPPID>
    <ADClientPassword>Qw+8fgCy2W27fIG+uuRpS2a7XkBtqOeGGMFXBtmQh3Q=</ADClientPassword>
    <ADReplyUrl>https://aadauthpoc20180515052306.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>cbf56e01-05a8-4108-976f-afc91b77db9f</ADTenantId>
    <ADPostLogoutRedirectUri>https://aadauthpoc20180515052306.azurewebsites.net/</ADPostLogoutRedirectUri>
  </PropertyGroup>
</Project>